.Switcher {
  width: 35px;
  height: 35px;
  margin: auto 0;
  margin-left: 15px;

  color: var(--switcher-color);

  background: var(--switcher-bg-color);
  background: var(--switcher-bg-gradient);
  border-radius: 50%;

  svg {
    width: 25px;
    height: 25px;

    text-align: center;
    vertical-align: text-bottom;
  }

  &:active {
    transform: scale(0.8);
  }
}
