.curList {
  position: absolute;
  z-index: 1;

  width: 280px;
  height: 0;
  overflow-y: auto;

  background: var(--inner-bg-color);

  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  opacity: 0;

  transition: all 0.2s linear;

  pointer-events: none;
  scrollbar-width: auto;
  scrollbar-color: var(--secondary-color);

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8c8c8c;
    border-radius: 20px;
  }

  &.shown {
    height: 250px;

    opacity: 1;

    pointer-events: auto;
  }

  @media screen and (max-width: 620px) {
    width: 320px;
  }

  @media screen and (max-width: 420px) {
    width: 230px;
  }

  @media screen and (max-width: 330px) {
    width: 210px;
  }

  @media screen and (max-width: 310px) {
    width: 190px;
  }

  @media screen and (max-width: 290px) {
    width: 170px;
  }
}

.curName {
  display: flex;
  width: 100%;

  padding: 5px 10px;

  border-radius: var(--border-radius);

  cursor: pointer;

  transition: background 0.1s linear;

  span {
    margin-right: 5px;
    margin-left: 5px;
  }

  &.top {
    font-weight: 600;
    font-size: 18px;
  }

  &:hover,
  &:focus {
    background: var(--active-color);
  }
}

.abbr {
  color: var(--primary-color);
}

.description {
  overflow: hidden;

  color: var(--secondary-color);

  white-space: nowrap;

  text-overflow: ellipsis;
}
