.app_dark_theme {
  --bg-color: rgb(34 34 34);
  --inner-bg-color: #292929;
  --primary-color: rgb(237 237 237);
  --secondary-color: rgb(179 179 179);
  --error-title: rgb(255 52 52);
  --error-text: rgb(216 37 37);
  --active-color: rgb(83 82 82);

  // Theme switcher
  --switcher-color: rgb(255 234 0);
  --switcher-bg-color: rgb(242 187 45);
  --switcher-bg-gradient: radial-gradient(
    circle,
    rgb(242 187 45 / 100%) 0%,
    rgb(34 34 34 / 100%) 70%
  );
}
