.app_dark_theme {
  --bg-color: rgb(53 53 53);
  --primary-color: rgb(239 239 239);
  --secondary-color: rgb(179 179 179);
  --error-title: rgb(255 52 52);
  --error-text: rgb(216 37 37);
  --active-color: rgb(83 82 82);
}
