.app_light_theme {
  --bg-color: rgb(219 219 219);
  --primary-color: rgb(49 49 49);
  --secondary-color: rgb(93 93 93);
  --error-title: rgb(255 0 0);
  --error-text: rgb(217 0 0);
  --inner-bg-color: #e8e8e8;
  --elem-bg-color: #f2f2f2;
  --active-color: rgb(164 164 164);
  --positive-number-color: rgb(31 172 148);
  --negative-number-color: rgb(216 0 0);

  // Theme switcher
  --switcher-color: rgb(81 43 204);
  --switcher-bg-color: rgb(140 106 253);
  --switcher-bg-gradient: radial-gradient(
    circle,
    rgb(140 106 253) 0%,
    rgb(219 219 219 / 100%) 70%
  );
}
