.CurrencyConverter {
  min-height: 200px;
  margin: 0 auto;

  background-color: var(--inner-bg-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.inner {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.tools {
  display: flex;
  justify-content: space-between;
}

.input {
  display: flex;
  align-items: center;

  width: 220px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;

  border-radius: 5px;

  box-shadow: var(--box-shadow);

  transition: transform 0.1s linear;

  &:active {
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
    transform: scale(0.98);
  }
}

.from,
.exchange {
  margin-right: 10px;
}

.exchange {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-top: 30px;

  color: var(--secondary-color);

  transition: all 0.2s linear;

  svg {
    width: 30px;
    height: 30px;
  }

  &:hover {
    color: var(--primary-color);
  }
}

.label {
  margin-bottom: 5px;

  font: var(--font-m);
}

.result {
  margin-top: 20px;

  h3 {
    margin-bottom: 5px;

    font: var(--font-m);
  }

  p {
    margin-top: 3px;

    color: #767676;
    font: var(--font-s);
  }
}
